@font-face {
    font-family: 'Impact', sans-serif;
    src: url(../fonts/impact.woff2);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    
}
.container{
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}
body{
    color: #040404;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', sans-serif;
}
.header{
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);

}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: flex;
    gap: 0 40px;
    padding-top: 50px;
}
.menu-left{
    padding-left: 25px;
}
.menu-right{
    padding-right: 80px;
}
.menu-link{
    font-size: 16px;
    color: #363636;
}
.promo{
    background: url(../img/promo.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.promo__inner{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    padding-left: 20px;

}
.subtitle {
    font-family: 'Impact', sans-serif;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
    

}
.subtitle span {
    display: block;
    font-family: 'Impact';
    font-size: 34px;
    line-height: 34px;    
    color: #9F6B08;
    padding: 10px 0;
}
.promo__text {
    font-size: 16px;
    color: #040404;
    margin-bottom: 10px;
}
.promo__arrow {
    margin-top: auto;
    margin-bottom: 30px;

}
.info {
    margin-bottom: 100px;
}
.info__part-img {
    object-fit: cover;
}
.info__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.info__part-third {
    padding-top: 66px;
}
.info__part-first {
    display: block;
}
.info__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #040404;
    margin-bottom: 34px;
}
.info__part-textbox {
    display: flex;
    margin-bottom: 20px;
}
.info__part-textbox p:first-child {
    max-width: 440px;
    margin-right: 20px;
}
.info__part-textbox b:first-child {
    max-width: 440px;
}
.info__title + .info-text {
    max-width: 352px;
    margin-bottom: 30px;
}
.info-text-1 {
    max-width: 352px;
}
.info__title-third {
    max-width: 415px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #040404;
    margin-bottom: 30px;
}
.info-text-third {
    max-width: 337px;
    margin-right: 20px;
}
.info-table {
    flex-basis: 450px;
    padding-bottom: 20px;
    border-bottom: 1px solid #040404;
    position: relative;
}
.info-table::before{
    position: absolute;
    content: '';
    border-bottom: 1px solid #040404;
    width: 100%;
    top: -20px;
}
td {
    padding-bottom: 20px;
}

.track {
    
    background-image: url(../img/track-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.track__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.track-title {
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    color: #040404;
    
}
.track-text {
    max-width: 435px;
}
.track-img {
margin: auto auto 40px auto;   
}

.evo {
    font-size: 14px;
    margin-bottom: 100px;
}
.evo-black {
    background-color: #363636;
    padding: 100px 0 50px;
    color: #fff;
}
.evo-black__inner {
    position: relative;
}
.evo-black__inner::before {
    position: absolute;
    content: '';
    top: 187px;
    left: -137px;
    background-image: url(../img/dec-1.svg);
    background-repeat: no-repeat;
    width: 185px;
    height: 213px;
}
.evo-black__inner::after {
    position: absolute;
    content: '';
    top: 266px;
    left: -40px;
    background-image: url(../img/dec-2.svg);
    background-repeat: no-repeat;
    width: 498px;
    height: 572px;
}
.evo-black__info {
    display: flex;
    justify-content: space-between;
    
}
.evo-black__infobox {
    flex-basis: 437px;

}
.evo-black__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    padding-right: 50px;
}
.evo-black__text {
    font-size: 14px;
    margin-bottom: 30px;
}
.evo-black__img {
    display: block;
    margin: 170px auto 60px;
}
.evo__descr-list {
    display: flex;
    justify-content: center;
    gap: 0 65px;
}
.evo__descr-list dd {
    text-transform: uppercase;
}
.evo-white__inner {
    padding-top: 125px;
    position: relative;
}
.evo-white__inner::before {
position: absolute;
content: '';
top: -42px;
left: 420px;
background-image: url(../img/dec-3.png);
background-repeat: no-repeat;
width: 276px;
height: 252px;
}
.evo-white__inner::after {
    position: absolute;
    content: '';
    top: 150px;
    left: 601px;
    background-image: url(../img/dec-4.png);
    background-repeat: no-repeat;
    width: 324px;
    height: 303px;
 }


.evo-white__text {
    margin-bottom: 30px;
}
.evo-white__text:first-child {
    max-width: 285px;
}
.evo-white__text:nth-child(2) {
    max-width: 437px;
}
.evo-white__text:nth-child(3) {
    max-width: 590px;
}
.evo-white__video {
    margin-top: 100px;
    background-image: url(../img/Evo-video.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.evo-white__video-link span {
    display: block;
    color: #fff;
}
.blog {
    margin-bottom: 100px;
}
.blog__title {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.blog__item-img {
    margin-bottom: 20px;
}
.blog__item-title {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    min-height: 46px;   
}
.blog__item-text {
    margin-bottom: 10px;
}
.blog__item-link {
    font-size: 12px;
    color: #363636;
}
.blog__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}
.blog__button {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;

}
.swiper-button-left {
    transform: translateX(-41px);


}
.swiper-button-right {
    transform: translateX(8px);
}

.blog__quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}
.blog__quote-box {
    flex-basis: 434px;
}
.blockquote {
    margin-bottom: 30px;
}
.blockquote__name span {
    display: block;
    font-size: 12px;
    color: #9F6B08;
    margin-bottom: 3px;
}
.blockquote__name {
    font-weight: 700;
    margin-bottom: 10px;
}
.blockquote__text {
    font-style: italic;
}
.footer {
    padding: 100px 0 80px;
    background-color: #363636;
    color: #fff;
}
.footer-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.footer-info__item {
    margin-bottom: 40px;
} 
.footer-info__item dt,
.footer-address__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-info__item dd {
    margin-bottom: 10px;
}
.social-list {
    display: flex;
    align-items: center;
    gap: 0 20px;
}
.footer-address {
    flex-basis: 462px;
}
.footer-address__text {
    font-size: 16px;
    margin-bottom: 20px;
}
#map {
    height: 250px;
}
.footer-bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



